body {
  font-family: "Trebuchet MS", "Lucida Console", monospace;
  letter-spacing: 1px;
  color: #00ff73;
  background: linear-gradient(to right, #293929, #191919);
  letter-spacing: 2px;
}

.website-title {
  font-size: 60px;
  font-weight: bold;
  margin: 40px;
}

.agents {
  font-size: 20px;
  margin-left: 50px;
}

.image-and-analysis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}